.blogpost-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FAFAFA;
}

.blogpost-cover-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
    padding: 20px 20px;
}


.blogpost-cover-image img{
    height: 100%;
    width: 100%;
}

.article-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px;
    box-shadow:  0 4px 8px 0  rgb(194, 192, 192);
    font-family: 'Patrick Hand', cursive;

}

.title-container {
    background-color: #3D5AFF;
    color: white;
    padding: 5px;
    margin: 8px;
    border-radius: 10px;
    
}

.home-articles-container-recommend {
    display: flex;
    flex-direction: row;
}
.home-article-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
}

.content-meta-info{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.social-sharing{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}