@media screen and (max-width :1298px) {
    *{
        /* overflow-x: hidden; */
    }

    .nav-left ul {
        display: flex;
        align-items: center;
        margin : 0 20px;
    
    }

    .max-width-1 {
        max-width: 100vw;
    }

    .navigation {
        flex-direction: column;
    }


    .nav-left {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .form-input {
        width: 50%;
    }

    .content {
        flex-direction :column-reverse;

    }

    .content-right  img{
        height: 50%;
        width: 50%;
    }

    .home-article {
        flex-direction: column;
    }

    .home-article {
        width: 90vw;
        display: flex;
        padding: 8px;
        margin: 15px;
        background-color: #ffffff;
        border-radius: 12%;
        box-shadow:  0 4px 8px 0  rgb(221, 220, 220);
    }

    .home-articles-container {
        align-items: center;
    }

    .home-articles-container img {
        height: 80%;
        width: 80%;
    }


    .article-container{
        width: 95vw
    }

    .title-container{
        font-size: 12px;
    }

    .blogpost-cover-image {
        width: 90vw;
        height: auto;
    }

    .home-articles-container-recommend{
        flex-direction: column;
    }
}